<div id="<%= dom_id treatment %>">
  
  <td><%= treatment.name unless treatment.name.nil? %></td>
  <td><%= treatment.cost unless treatment.cost.nil? %></td>
  <td><%= treatment.duration unless treatment.duration.nil? %></td>

</div>
