<div id="<%= dom_id professional %>">

<td><%= professional.first_name unless professional.first_name.nil? %></td>
<td><%= professional.last_name unless professional.last_name.nil? %></td>
<td><%= professional.specialty unless professional.specialty.nil? %></td>

</div>
